@model Videoclub.Models.Videoclub

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Videoclub</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreDelGerente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreDelGerente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ciudad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodPostal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodPostal)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.VideoclubId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
