@model IEnumerable<Videoclub.Models.Videoclub>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreDelGerente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ciudad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CodPostal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NombreDelGerente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ciudad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CodPostal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.VideoclubId }) |
            @Html.ActionLink("Details", "Details", new { id=item.VideoclubId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.VideoclubId })
        </td>
    </tr>
}

</table>
