@model IEnumerable<Videoclub.Models.Socio>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Videoclub.Calle)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Videoclub.Calle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.SocioId }) |
            @Html.ActionLink("Details", "Details", new { id = item.SocioId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.SocioId })
        </td>
    </tr>
}

</table>
