@model Videoclub.Models.Estadistica

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estadistica</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FechaCreacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaCreacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalGastado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalGastado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.EstadisticaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
